
body {
  font-family: 'Open Sans', sans-serif;
}
.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }

}
.container {
  max-width: 1200px;
  margin: 0 auto;
}
.languages 
{
 display: flex;
 justify-content: center; 
}
ul {
  padding: 0;
  padding-bottom:30px;
}
li {
  list-style-type: none;
}
.languages li {
  margin: 10px;
  cursor: pointer;
  font-size:22px;
  font-weight: 700;
}
.popular-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
.popular-item{
  margin:20px;
  text-align: center;
}
.space-list-items {
  margin-bottom: 7px;
}
.avatar {
  width:150px;
  border-radius: 50%;
}
.popular-rank {
  font-size: 20px;
  margin-bottom: 10px;
}
